In [1]:
# Importing essential libraries
import numpy as np  # For numerical computations
import pandas as pd  # For data manipulation and analysis
import matplotlib.pyplot as plt  # For creating static, animated, and interactive visualizations
import seaborn as sns  # For statistical data visualization
import warnings  # For controlling warning messages

from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
import optuna


# Suppressing warnings to avoid clutter in output
warnings.filterwarnings('ignore')

In [2]:
train=pd.read_csv('/kaggle/input/fsajhd/df_train_clean.csv')
test=pd.read_csv('/kaggle/input/fsajhd/df_test_clean.csv')

In [3]:
tarain=pd.read_csv('/kaggle/input/fsajhd/train.csv')

In [4]:
tarain.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,MINI,Cooper S Base,2007,213000,Gasoline,172.0HP 1.6L 4 Cylinder Engine Gasoline Fuel,A/T,Yellow,Gray,None reported,Yes,4200
1,1,Lincoln,LS V8,2002,143250,Gasoline,252.0HP 3.9L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Beige,At least 1 accident or damage reported,Yes,4999
2,2,Chevrolet,Silverado 2500 LT,2002,136731,E85 Flex Fuel,320.0HP 5.3L 8 Cylinder Engine Flex Fuel Capab...,A/T,Blue,Gray,None reported,Yes,13900
3,3,Genesis,G90 5.0 Ultimate,2017,19500,Gasoline,420.0HP 5.0L 8 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,45000
4,4,Mercedes-Benz,Metris Base,2021,7388,Gasoline,208.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Black,Beige,None reported,Yes,97500

In [5]:
train.head(5)

,brand,milage,fuel_type,transmission,ext_col,int_col,accident,clean_title,price,Horsepower,Displacement,Cylinder Count,model_age
0,31,213000,2,0,312,71,2,1,4200,172.0,1.6,4.0,18
1,28,143250,2,0,263,10,0,1,4999,252.0,3.9,8.0,23
2,9,136731,1,0,38,71,2,1,13900,320.0,5.3,8.0,23
3,16,19500,2,2,29,14,2,1,45000,420.0,5.0,8.0,8
4,36,7388,2,0,29,10,2,1,97500,208.0,2.0,4.0,4

In [6]:
test.sample(5)

,brand,milage,fuel_type,transmission,ext_col,int_col,accident,clean_title,Horsepower,Displacement,Cylinder Count,model_age
90987,9,134000,2,0,38,71,0,1,350.000000,5.7,8.000000,29
64072,4,62500,2,0,234,14,2,1,414.000000,4.0,8.000000,11
117405,9,22703,2,0,264,118,2,0,467.285743,6.2,6.374268,3
94852,14,18000,2,0,29,14,0,1,375.000000,3.5,6.000000,3
89469,28,72922,2,0,128,14,2,1,400.000000,3.5,6.000000,11

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188533 entries, 0 to 188532
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   brand           188533 non-null  int64
 1   milage          188533 non-null  int64
 2   fuel_type       188533 non-null  int64
 3   transmission    188533 non-null  int64
 4   ext_col         188533 non-null  int64
 5   int_col         188533 non-null  int64
 6   accident        188533 non-null  int64
 7   clean_title     188533 non-null  int64
 8   price           188533 non-null  int64
 9   Horsepower      188533 non-null  float64
 10  Displacement    188533 non-null  float64
 11  Cylinder Count  188533 non-null  float64
 12  model_age       188533 non-null  int64
dtypes: float64(3), int64(10)
memory usage: 18.7 MB

In [8]:
# import optuna
# import numpy as np
# import pandas as pd
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.model_selection import KFold, cross_val_score
# from sklearn.metrics import mean_squared_error


# # Define features and target variable
# X = train.drop(columns=['price'])  # Features
# y = train['price']  # Target variable

# # Define the objective function for Optuna
# def objective(trial):
#     params = {
#         'n_estimators': trial.suggest_int('n_estimators', 100, 500, step=100),
#         'max_depth': trial.suggest_int('max_depth', 3, 20),
#         'min_samples_split': trial.suggest_int('min_samples_split', 2, 20),
#         'min_samples_leaf': trial.suggest_int('min_samples_leaf', 1, 10),
#         'max_features': trial.suggest_categorical('max_features', ['sqrt', 'log2', None]),
#         'bootstrap': trial.suggest_categorical('bootstrap', [True, False]),
#     }

#     # Number of folds for cross-validation
#     n_folds = 5
#     kf = KFold(n_splits=n_folds, shuffle=True, random_state=42)

#     # Perform cross-validation
#     rf_model = RandomForestRegressor(random_state=42, n_jobs=-1, **params)
#     scores = cross_val_score(rf_model, X, y, cv=kf, scoring='neg_root_mean_squared_error', n_jobs=-1)

#     return -np.mean(scores)  # Optuna minimizes the objective function

# # Run Optuna optimization
# study = optuna.create_study(direction='minimize')  # Minimizing RMSE
# study.optimize(objective, n_trials=10, n_jobs=-1)  # Adjust n_trials as needed

# # Best hyperparameters
# best_params = study.best_params
# print(f"\nBest Parameters Found: {best_params}")

In [9]:
import joblib
import numpy as np
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Load dataset
X = train.drop(columns=['price'])
y = train['price']

# Number of folds for cross-validation
n_folds = 5
kf = KFold(n_splits=n_folds, shuffle=True, random_state=42)

oof_preds = np.zeros(len(X))
oof_df = pd.DataFrame(columns=['ID', 'Actual', 'OOF_Pred_RandomForest', 'Fold'])

for fold, (train_idx, val_idx) in enumerate(kf.split(X, y), start=1):
    print(f"\nTraining Fold {fold}/{n_folds}...")
    
    X_tr, X_val = X.iloc[train_idx], X.iloc[val_idx]
    y_tr, y_val = y.iloc[train_idx], y.iloc[val_idx]
    
    # Define preprocessing pipeline inside the loop (avoids leakage)
    num_pipeline = Pipeline(steps=[('scaler', StandardScaler())])
    preprocessor = ColumnTransformer(
        transformers=[
            ('num_pipeline', num_pipeline, ['milage', 'Horsepower', 'Displacement', 'Cylinder Count', 'model_age'])
        ],
        remainder='passthrough'
    )

    # Create pipeline with preprocessor and Random Forest model
    pipeline = Pipeline(steps=[
        ('preprocessor', preprocessor),
        ('model', RandomForestRegressor(n_estimators=200, max_depth=8, min_samples_split=3,
                                        min_samples_leaf=9, max_features='log2', bootstrap=False,
                                        random_state=42, n_jobs=-1))
    ])
    
    # Train model
    pipeline.fit(X_tr, y_tr)
    
    # Predict on validation set
    y_val_pred = pipeline.predict(X_val)
    oof_preds[val_idx] = y_val_pred
    
    # Compute fold RMSE
    fold_rmse = mean_squared_error(y_val, y_val_pred, squared=False)
    print(f"Fold {fold} RMSE: {fold_rmse:.4f}")
    
    # Store fold results in DataFrame
    fold_df = pd.DataFrame({
        'ID': X.index[val_idx],
        'Actual': y_val.values,
        'OOF_Pred_RandomForest': y_val_pred,
        'Fold': fold
    })
    
    oof_df = pd.concat([oof_df, fold_df], ignore_index=True)

# Compute overall RMSE
oof_rmse = mean_squared_error(y, oof_preds, squared=False)
print(f"\nOverall OOF RMSE: {oof_rmse:.4f}")

# Save OOF predictions
oof_df.to_csv('oof_predictions_randomforest.csv', index=False)
print("OOF predictions saved to 'oof_predictions_randomforest.csv'.")

# 🔥 Train final model on full dataset before saving
final_pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('model', RandomForestRegressor(n_estimators=200, max_depth=8, min_samples_split=3,
                                    min_samples_leaf=9, max_features='log2', bootstrap=False,
                                    random_state=42, n_jobs=-1))
])

final_pipeline.fit(X, y)  # Train on full dataset
joblib.dump(final_pipeline, 'randomforest_model.pkl')  # Save final trained model
print("Final model trained and saved as 'randomforest_model.pkl'.")

Training Fold 1/5...
Fold 1 RMSE: 68398.3585

Training Fold 2/5...
Fold 2 RMSE: 68930.6969

Training Fold 3/5...
Fold 3 RMSE: 74164.0188

Training Fold 4/5...
Fold 4 RMSE: 76871.0755

Training Fold 5/5...
Fold 5 RMSE: 76864.2024

Overall OOF RMSE: 73140.0250
OOF predictions saved to 'oof_predictions_randomforest.csv'.
Final model trained and saved as 'randomforest_model.pkl'.

In [10]:
final_test_predictions = pipeline.predict(test)

# Save submission file
sub = pd.read_csv('/kaggle/input/fsajhd/sample_submission.csv')
sub['price'] = final_test_predictions
sub.to_csv('RandomFOrest_submission.csv', index=False)
print("Submission file saved as 'Randomforest.csv'.")
sub.head()

Submission file saved as 'Randomforest.csv'.

       id         price
0  188533  17820.724220
1  188534  81124.062887
2  188535  52841.738343
3  188536  27239.885857
4  188537  31583.122930